body {
  background-color: #ededed;
}
.navbar {
  background-color: #ededed;
  height: 8rem;
  width: 100%;
}
.navText {
  display: flex;
  justify-content: center;
}
.nav-item {
  color: #353535;
  font-size: 1rem;
}
.imgLogo {
  background-color: #b73a2a;
  height: 5rem;
  border-radius: 7%;
  margin-left: 6rem;
  padding: 0.5rem 0.5rem 0.5rem 0.5rem;
  /* transform: scale(1.25);
  transform-origin: center; */
}

.hero-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  grid-row: 1/ 5;
  grid-column: 1/ 5;
}

.hero-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  min-height: 100vh;
}
.text-Box {
  background-color: rgba(0, 0, 0, 0.768);
  height: 7rem;
  width: 29rem;
  top: 68%;
  left: 7%;
  color: #ededed;
  text-align: center;
  font-size: 2rem;
  padding-top: 1.5rem;
  grid-row: 3;
  grid-column: 1;
  margin-left: 5rem;
}
.text-Box h1 {
  font-size: 2.5rem;
}

.page-break {
  height: 5rem;
  background-color: #1e2c20;
}
.page-break h3 {
  color: #ededed;
  display: flex;
  justify-content: center;
  padding-top: 1.5rem;
}
.cooking-container {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  width: 80%;
  margin: 0 auto;
  gap: 1rem;
}

.cooking-Text {
  grid-row: 1;
  grid-column: 2/ 4;
  padding-top: 5rem;
  font-weight: bolder;
  font-size: 4rem;
  margin: 0 auto;
}
.pot-img {
  grid-row: 2;
  height: auto;
  width: 100%;
  border-radius: 5%;
  margin-top: -3rem;
  transition: transform 0.1s;
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.pot-img:hover {
  transform: scale(1.1);
}
.pot-Text {
  grid-row: 3;
  font-weight: 300%;
  font-size: 3rem;
}

/* Arrival Container -Start */
.newArrivals {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 100%;
  flex-direction: row;
}

.arrival-Card {
}
.arrival-Content {
}
.arrival-img1 {
  height: 560px;
  width: 560px;
  object-fit: cover;
}
.arrival-img2 {
  height: 560px;
  width: 560px;
  object-fit: cover;
}
.arrival-header {
  text-align: center;
  margin-bottom: 35px;
  margin-top: 60px;
}

.arrival-Tex h1 {
  align-items: center;
}
.color-Selector {
  display: flex;
  flex-direction: row;
  gap: 20px;
}
.first-Color {
  background-color: #ea2d2c;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: solid #353535 4px;
}
.second-Color {
  background-color: #fb5108;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.third-Color {
  background-color: #d29d12;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.fourth-Color {
  background-color: #353535;
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.newArrivals p {
  font-size: 14px;
}

/* Arrival Container-End----------------- */

/* Best Sellers Start------------------- */

.bestsellers-Title {
  text-align: center;
  color: #1e2c20;
}
.card-Container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
  gap: 25px;
}
.card-One {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: solid #000 2px;
  overflow: hidden;
  padding: 20px;
  height: 550px;
}

.card-Two {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: solid #000 2px;
  overflow: hidden;
  padding: 20px;
}

.card-Three {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  border: solid #000 2px;
  overflow: hidden;
  padding: 20px;
}
.card-img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card-img2 {
  width: 100%;
  height: 53%;
  border-radius: 10px;
}
.card-One-Content {
  padding-top: 10px;
}
.card-Two-Content {
  padding-top: 10px;
}
.card-Three-Content {
  padding-top: 10px;
}
.card-Three-Content p {
  padding-bottom: 65px;
}
.card-btn {
  display: inline-block;
  padding: 8px 16px;
  background-color: hsl(0, 60%, 99%);
  border-radius: 4px;
  border: solid #000 3px;
  color: #000;
}

/* Best Sellers Section End----------------------- */







/* Reviews Section Start-------------------------- */

.review-Title {
  text-align: center;
  margin-top: 100px;
}
.review-Container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
.review-CardOne {
  width: 531px;
  height: 664.751px;
  position: relative;
 
}
.review-CardTwo {
    width: 531px;
    height: 664.751px;
    position: relative;
  
   
  }
  .review-CardThree {
    width: 531px;
    height: 664.751px;
    position: relative;
   
   
  }
.review-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  
}
.review-Box {
  background-color: #0000008f;
  position: relative;
  bottom: 31.5rem;
  text-align: center;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  padding: 73px 28px;
  width: 25rem;
  height: 345px;
  width: auto;
 margin-left: 2%;
 border-radius: 10%;


  color: white;
}
