body{
    background-color: #ededed;
}
.navbar {
  background-color: #ededed;
  height: 8rem;
  width: 100%;
}
.navText {
  display: flex;
  justify-content: center;
  
}
.nav-item{
    color: #353535;
    font-size: 1rem;
}
.imgLogo {
  background-color: #b73a2a;
  height: 5rem;
  border-radius: 7%;
  margin-left: 6rem;
  padding: .5rem .5rem .5rem .5rem;
  /* transform: scale(1.25);
  transform-origin: center; */
  
}
.hero-img{
width: 100%;

}
.page-break{
    height: 5rem;
    background-color: #1e2c20;
}
.page-break h3{
    color: #ededed;
    display: flex;
    justify-content: center;
    padding-top: 1.5rem;
}